@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --oxford-blue: #171D2F;
  --space-cadet-dark: #1F253D;
  --space-cadet-light: #242C47;
  --space-cadet-light-trans: #242c47b7;
  --marian-blue: #324591;
  --glaucous: #677CCC;
  --rose-bonbon: #EA4B93;
  --sky-magenta: #D181BF;
  --naples-yellow: #FEDF5F;
  --emerald: #23D18B;
  --lavender: #CCD4F1;
  --lavender-light: #e5eafb;
}

@font-face {
  font-family: Cloudy;
  src: url(../fonts/Cloudy.ttf);
}

@font-face {
  font-family: FatKat;
  src: url(../fonts/FatKat.otf);
}

@font-face {
  font-family: JingleStar;
  src: url(../fonts/JingleStar.ttf);
}

@font-face {
  font-family: Rocline;
  src: url(../fonts/Rocline.ttf);
}

@font-face {
  font-family: Askey;
  src: url(../fonts/Askey.otf);
}

.active {
  color: var(--naples-yellow);
  border-bottom: var(--naples-yellow) 2px solid;
}

.logo:hover {
  filter: drop-shadow(0px 2px 20px var(--naples-yellow));
}

nav {
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  z-index: 100;
}

#sky {
  background: linear-gradient(180deg, var(--space-cadet-dark) 16%, var(--marian-blue) 57%, var(--sky-magenta) 100%);
}

#home #sky h1,
#home #sky h2 {
  z-index: 5;
  filter: drop-shadow(0px 2px 5px var(--space-cadet-light-trans));
}

.shooting-star {
  position: absolute;
  rotate: 315deg;
  width: 20px;
  height: 20px;
  background: var(--naples-yellow);
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: glow 4s ease-out infinite alternate-reverse;
  z-index: 1;
}

@keyframes glow {
  from {
    filter: drop-shadow(0px 1px 8px var(--naples-yellow));
  }

  to {
    filter: drop-shadow(0px 1px 20px var(--naples-yellow));
  }
}

.shooting-star:nth-of-type(1) {
  top: 50%;
  left: 22%;
}

.shooting-star:nth-of-type(2) {
  top: 18%;
  left: 72%;
}

.shooting-star:nth-of-type(3) {
  top: 0%;
  left: 25%;
}

.shooting-star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 5px;
  background: linear-gradient(90deg, var(--naples-yellow), transparent);
}

.cloud:nth-of-type(1) {
  position: absolute;
  top: 22%;
  left: -5%;
  z-index: 2;
  filter: drop-shadow(0px 5px 10px var(--space-cadet-light));
}

.cloud:nth-of-type(2) {
  position: absolute;
  top: 10%;
  left: 62%;
  z-index: 2;
  filter: drop-shadow(0px 5px 10px var(--space-cadet-light));
}

.cloud:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  filter: drop-shadow(0px 5px 10px var--space-cadet-light);
}

#down-arrow {
  filter: drop-shadow(0px 2px 5px var(--space-cadet-light-trans));
}

#down-arrow:hover {
  animation: bounce-down 2s ease infinite;
}

@keyframes bounce-down {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(15px);
  }
}

.squiggle {
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
  animation: draw 1.5s ease-in forwards;
}

.cross {
  stroke-dasharray: 90;
  /* stroke-dashoffset: 90; */
  /* animation: draw 0.8s ease-in forwards; */
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.card-1 {
  background: linear-gradient(180deg, var(--glaucous) 0%, var(--marian-blue) 100%);
}

.card-2 {
  background: linear-gradient(180deg, var(--sky-magenta) 0%, var(--rose-bonbon) 100%);
}

.card-3 {
  background: linear-gradient(180deg, var(--naples-yellow) 0%, #f3ce3d 100%);
}